extends ../shared/template
block content
    input#playername(type='text')
    button#newgame New Game
    br
    br
    br
    #guessbox
      input#guesschar(type='text')
      button#makeguess Make Guess
